.card-item {
  border: 1px solid rgba(255, 255, 255, 0.766);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(209, 208, 208);
  list-style-type: none;
  margin-bottom: 10px;
}
.btn-container {
  display: inline-flex;
  column-gap: 20px;
  background-color: rgb(12, 180, 12);
  border-radius: 20px;
  height: 40px;
  width: 120px;
  justify-content: space-between;
  align-items: center;
}
.operator-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px;
}
.count-item {
  color: white;
  font-size: 22px;
}

.details-container {
  display: flex;
  justify-content: space-between;
}

.item-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  align-self: center;
}

.calories-text {
  color: rgb(255, 106, 0);
  font-size: 20px;
  font-family: 'Roboto';
  align-self: center;
  font-weight: 700;
}

.item-description-container {
  width: 650px;
}
.not-available-text {
  color: red;
  font-size: 18px;
  font-family: 'Roboto';
}

@media Screen and (max-width: 576px) {
  .item-image {
    width: 100px;
    height: 100px;
  }

  .not-available-text {
    display: none;
  }
}

.food-type-container {
  height: 30px;
  width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.food-type-container-veg {
  border: 2px solid green;
}

.food-type-container-non-veg {
  border: 2px solid red;
}

.type-and-description-container {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.dish-name {
  font-size: 30px;
  font-family: 'Roboto';
  margin: 0;
}
.dot-type {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.dot-type-veg {
  background-color: green;
}

.dot-type-non-veg {
  background-color: red;
}

.dish-price {
  margin: 0;
}
