.category-names {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
@media Screen and (max-width: 576px) {
  .category-names {
    overflow-x: auto;
    width: 250px;
    column-gap: 20px;
  }
}
